html{
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

ul li{
    text-decoration: none;
}

.navbar{
   background-color: #00000000;
   transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease;
}

.navbar.active{
    background: #1d1d1d;
}

.list-group-item{
    background-color: transparent;
    border: none;
}

.fa-brands.fa-github.fa-xl{
    color: #ffffff;
    transition: all .2s ease;
}

.fa-brands.fa-github.fa-xl:hover{
    --bs-text-opacity: 1;
    color: #9b7bd8 !important;
    cursor: pointer;
}

.fa-brands.fa-linkedin.fa-xl{
    color: #ffffff;
    transition: all .2s ease;
}

.fa-solid.fa-user-lock{
    color: #ffffff;
    transition: all .2s ease;
}

.fa-solid.fa-user-lock:hover {
    color: #38a046;
    cursor: pointer;
}

.fa-brands.fa-linkedin.fa-xl:hover{
    --bs-text-opacity: 1;
    color: #698ad1 !important;
    cursor: pointer;
}

.fa-brands.fa-instagram.fa-xl{
    color:#ffffff;
    transition: all .2s ease;
}

.fa-brands.fa-instagram.fa-xl:hover{
    --bs-text-opacity: 1;
    color: #da5186 !important;
    cursor: pointer;
}

.btn{
    color: white;
    --bs-text-opacity: 1;
    background-color: #407c48 !important;
}
.btn:hover{
    color: white;
    background-color: #49a155 !important;
}

.banner {
    background-image:linear-gradient(
        rgba(0,0,0,.5),
        rgba(0,0,0,.6),
        rgba(0,0,0,.9)
    ), url('../images/image-2.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.titulo-nombre {
    margin: 20rem 0rem 0 4rem;
}

h1.intro {
    font-size: 2.8rem;
    font-weight: bold;
}

h2.intro {
    font-size: 1.7rem;
}

h3.intro {
    font-size: 1.5rem;
}

/*-----------Medi query-----------*/

@media (max-width: 650px){ 

    h1.intro{
        font-size: 2.3rem;
    }

    h2.intro{
        font-size: 1rem;
    }

    h3.intro{
        font-size: 1.2rem;
    }

    .titulo-nombre{
        margin-left: 2.5rem;
        margin-right: 1.2rem;
    }

    .banner{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/*---------------------------------*/