html{
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

ul li{
    text-decoration: none;
}

.navbar{
   background-color: #00000000;
   transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease;
}

.navbar.active{
    background: #1d1d1d;
}

.list-group-item{
    background-color: transparent;
    border: none;
}

.fa-brands.fa-github.fa-xl{
    color: #ffffff;
    transition: all .2s ease;
}

.fa-brands.fa-github.fa-xl:hover{
    --bs-text-opacity: 1;
    color: #9b7bd8 !important;
    cursor: pointer;
}

.fa-brands.fa-linkedin.fa-xl{
    color: #ffffff;
    transition: all .2s ease;
}

.fa-solid.fa-user-lock{
    color: #ffffff;
    transition: all .2s ease;
}

.fa-solid.fa-user-lock:hover {
    color: #38a046;
    cursor: pointer;
}

.fa-brands.fa-linkedin.fa-xl:hover{
    --bs-text-opacity: 1;
    color: #698ad1 !important;
    cursor: pointer;
}

.fa-brands.fa-instagram.fa-xl{
    color:#ffffff;
    transition: all .2s ease;
}

.fa-brands.fa-instagram.fa-xl:hover{
    --bs-text-opacity: 1;
    color: #da5186 !important;
    cursor: pointer;
}

.btn{
    color: white;
    --bs-text-opacity: 1;
    background-color: #407c48 !important;
}
.btn:hover{
    color: white;
    background-color: #49a155 !important;
}

.nav_label{
    margin:.5rem 0 0 0;
}

.menu-responsive{
    color: #ffffff;
    font-size: 1.8rem;
}

.menu-responsive.fa-solid.fa-bars.fa-xl:hover{
    color: #afafaf;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.banner {
    background-image:linear-gradient(
        rgba(0,0,0,.5),
        rgba(0,0,0,.6),
        rgba(0,0,0,.9)
    ), url('../images/image-2.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.titulo-nombre {
    margin: 20rem 0rem 0 4rem;
}

h1.intro {
    font-size: 2.8rem;
    font-weight: bold;
}

h2.intro {
    font-size: 1.7rem;
}

h3.intro {
    font-size: 1.5rem;
}

/*-----------Media query-----------*/

@media (max-width: 650px){ 

    .banner {
        background-position: -9rem;
        background-size:400%;
        background-image:repeating-linear-gradient(
        rgba(0,0,0,.5),
        rgba(0,0,0,.6),
        rgba(0,0,0,1)
        ), url('../images/image-2.jpg');
    }

    h1.intro{
        font-size: 2.4rem;
    }

    h2.intro{
        font-size: 1rem;
    }

    h3.intro{
        font-size: 1.3rem;
    }

    .titulo-nombre{
        margin-left: 2.5rem;
        margin-right: 2rem;
    }

    .banner{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width:480px){
    .list-group.list-group-horizontal{
        display: none;
    }
}


@media (min-width:480px){
    .nav_label{
        display: none;
    }
}


/*-----------Media query-----------*/

.spinner-border{
    margin: 1rem;
}

.mas-info{
    color: #000000;
    background-color: #ffffff;
    border-radius: .2rem;
    margin:0 3rem 1rem 3rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}

@media (min-width:480px){
    .mas-info{
        background-size: 10px 10px;
    }
}

p {
    font-weight: bold;
    font-size: 1.05rem;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}